body{
    padding: 50px 0px 0px 0px;
    z-index: 0px;
}
.navbar-dark{
    background-color: #01579B;
}
.jumbotron{
    background-color: #B3E5FC;
}
footer{
    background-color: #0277BD;
    color: white;
}
footer a{
    color:white;
}